[submodule "Unified-Convolution-Framework"]
	path = Unified-Convolution-Framework
	url = git@github.com:nullplay/Unified-Convolution-Framework.git
[submodule "sputnik"]
	path = sputnik
	url = git@github.com:google-research/sputnik.git
